.button {
  padding: 10px 20px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  background-color: #d6d6d6;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 200ms ease-in-out;
}
.button:hover {
  background-color: white;
}
