body {
  margin: 0;
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead,
tr {
  display: flex;
  width: 100%;
}

td,
th {
  flex: 1 1 0%;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
